.Bar_box{
    width: 100%;
    height: 125px;
    background-image: url('./img/bar_img.jpg');
    background-size:cover; /* para hacer que la imagen ocupe todo el espacio disponible */
    
    background-repeat:no-repeat; /* para evitar que la imagen se repita */
    background-color: rgb(70, 70, 70);
    background-blend-mode: soft-light;

display: flex;
align-items: flex-end;
justify-content: space-between;

}
.casa{
    font-size: 1.9em;
    position: absolute;
    top: 48px;
    display: none;
}
.links_box{
    display: flex;
    width: 50%;
    
}
.Bar_search{
    background: transparent;
    border: none;
    color: white;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-family: 'Comic Sans MS';
    transition: 0.2s ease;
    font-weight: 600;
    text-decoration: none;
}
.Bar_search:hover{
    background-color: gold;
    color: black;
    
    border-radius: 2px;
}
.logo{
    width: 100px;
    margin: 0 30px;
    background-color: gold;
    
}
.caja_input{
    width:min-content;
    margin-bottom: 10px;
    margin-right: 5%;
    background-color: white;
    font-size: 17px;
    border-radius: 10px;
    border: 1.8px solid black;
    display: flex;
    
}
.caja_input:focus-within{
    border: 2px solid gold;
    border-radius: 11px;
    
}
.caja_input input{
    font-size: 16px;
    border: none;
    width: 130px;
    
    height: 30px;
    margin-right: 8px;
    
}
.caja_input button{
    border: none;
    border-radius: 0 9px 9px 0;
    
}
.caja_input button:hover{
    background-color: gold;
}
.caja_input input:focus {
    outline: none;
  }
  @media screen and (max-width: 800px) {
    .Bar_search{
        width: fit-content;
        font-size: 0.9em;
        padding: 0px 5px;
        
    }

    .caja_input{
        margin-left: 3%;
        margin-right: 2%;
        flex-shrink: 10;
        
    }
    .caja_input input{
        width: 90px;
        
    }
    .logo{
        width: 80px;
        align-self: center;
        margin: 0 10px;
    }
    
    
  }
  @media (max-width: 500px) {
    .logo{
        display: none;
    }
    .caja_input input{
        width: 60px;
    }
    .caja_input{
        font-size: 14px;
    }
    .links_box{
        flex-direction: column;

    }
    .Bar_search{
        
        margin: 0%;
        padding: 0;
        height: 20px;
    }
   
  }
