body{
    background-image: url('./img/fondo.jpg');
    background-size: cover; /* para hacer que la imagen ocupe todo el espacio disponible */
    background-repeat: no-repeat; /* para evitar que la imagen se repita */
    background-color: rgb(70, 70, 70);
    background-blend-mode: soft-light;
    height: auto;
    
    
    
}
.wrapper_box{
    
 padding-top: 30px;
 display: grid;
 grid-template-columns: 27% 27%;
 grid-gap: 5px;
 justify-content: space-evenly; 
}
:root {
    --width-button: 100px;
    --heigth-button:35px;
    --borderR-button:4px;
    
  }
.buttons{
    display: flex;
    grid-column: 1/3;
    margin-bottom:10vh;
    width: fit-content;
    height: fit-content;
    align-items: center;
    background-color: transparent;
    flex-wrap: wrap;
}
.loading{
    font-size: 2.8em;
    color: white;
}
.button_next{
    font-family: cursive;
    border: none;
    font-size: 0.9em;
    font-weight: 800;
    margin: 10px;
    width: var(--width-button);
    height: var(--heigth-button);
    border: 1px solid black;
    border-radius: var(--borderR-button);
    transition: 0.1s;
    
}
.button_prev{
    font-family: cursive;
    border: none;
    border: 1px solid black;
    font-weight: 800;
    font-size: 0.9em;
    width: var(--width-button);
    height: var(--heigth-button);
    margin: 10px;
    border-radius: var(--borderR-button);
    transition: 0.1s;
    

}
.buttons button:active{
    background-color: gold;
    transform: scale(0.9);
}
.barras{
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-end;

}
.select_diets{
    margin-left: 15px;
    margin-bottom: 40px;
    border-radius: 7px;
    padding-left: 5px;
    font-weight: 600;
    font-family: cursive;
    color: white;
    font-size: 1em;
}
.select_diets select{
    border-radius: 5px;
    margin-left: 5px;
    width: fit-content;
    height: 30px;
    font-size: 0.95em;
    
}
@media (max-width: 900px) {
    .wrapper_box{
        grid-template-columns: 90%;
        grid-gap: 0%;
    }
    .select_diets{
        
        grid-column: 1 / 2;
    }
    .buttons{
        grid-column: 1/2;
    }
    .barras{
        grid-column: 1/2;
        font-size: 14px;
    }
}
.pageNumbers {
    display: flex;
    flex-wrap: wrap;
    
    
}
.pageNumbers p{
    margin: 2px;
    border-radius: 3px;
    text-align: center;
    padding-top: 8px;
    width: 40px;
    height: 30px;
    background-color: whitesmoke;
    user-select: none;
    transition: 0.2s;
    font-weight: 700;

}
.pageNumbers p:hover{
    
    background-color: gold;

}
.pageNumbers p:active{
    transform: scale(0.9);
    

}
.pageNumbers p:focus {
    background-color: gold;
  }
